.manage-container{
  margin-left: 45px;
  margin-right: 45px;
}

.manage-container > button, .buttons-container > button {
  cursor: pointer;
  background-color: #FF5A5F;
  color: white;
  border: 1px solid black;
  box-shadow: 2px 2px black;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.delete-modal-content {
  border-radius: 20px;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  border: 2px solid black;
}

.delete-spot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.yes-no-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.yes-button, .no-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  cursor: pointer;
  background-color: #FF5A5F;
  color: white;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

.no-button {
  background-color: darkgray;
}
