.create-spot-form-container {
  margin-left: 250px;
  margin-right: 250px;
}

h3 {
  margin-bottom: 0px;
}

p {
  margin-top: 5px;
}

.address-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.city-and-state-container {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.city-container > input {
  width: 95%;
}

.description-container > textarea {
  width: 100%;
  height: 100px;
  background-color: #E8F0FE;
}

.price-container > input {
  width: 94%
}

.dollar-sign {
  margin-right: 10px;
  font-weight: bold;
}

.image-url-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.location-container, .description-container, .title-container, .price-container, .images-container {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.create-spot-button {
  cursor: not-allowed;
  background-color: #FFFFFF;
  color: #CCCCCC;
  border: 1px solid #CCCCCC;
  box-shadow: 2px 2px CCCCCC;
  padding: 10px 20px;
}

.create-spot-button:not([disabled]) {
  cursor: pointer;
  background-color: #FF5A5F;
  color: white;
  border: 1px solid black;
  box-shadow: 2px 2px gray;
  padding: 10px 20px;
}

.on-submit-errors {
  color: red;
  font-size: 15px;
  margin: 0px;
}
