
.hidden {
  display: none
}

.logo {
  height: 40px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #CCCCCC;
  height: 70px;
  margin: 0px;
}

.user-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  border: 1px solid #CCCCCC;
  padding: 5px;
  width: 75px
}

.material-symbols-outlined {
  color: #7a7a7a;
  transform: scale(.75);
  font-weight: bold;
}

.profile-dropdown > li {
  margin-top: 10px;
  padding-bottom:10px;
}
